<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<hr/>
<% if write_animals? %>
  <%=
    form_with(
      model: @animal,
      local: true,
      html: { id: 'add_animal_form' }
    ) do |f|
  %>
    <%= f.label :name %>: <%= f.text_field :name %>
    <%= f.label :species_id, "Species" %>: <%=
      f.collection_select(
        :species_id,
        @species,
        :id,
        :name
      )
    %>
    <%= f.label :birth_date %>: <%= f.date_field :birth_date %>
    <%= f.label :is_vaccinated %>: <%= f.check_box :is_vaccinated %>
    <%= f.label :images %>: <%=
      f.file_field(
        :images,
        multiple: true,
        direct_upload: true
      )
    %>
    <%= f.submit "Add Animal", data: { remote: true, disable: true, disable_with: "Adding..." } %>
  <% end %>
<% end %>
<hr/>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Toy Count</th>
      <th>Image</th>
      <% if write_animals? %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody id="animals">
    <% animals.each do | animal | %>
      <%= c("animal", animal: animal) %>
    <% end %>
  </tbody>
</table>
