<tr>
  <td><%= animal.name %></td>
  <td><%= animal.species_name %></td>
  <td><%= animal.toy_count %></td>
  <td><%= image_tag(animal.images.first.variant(resize: "50x50")) if animal.images.attached? %></td>

  <td>
    <% if write_animals? %>
      <%= link_to 'Show', animal, class: "btn btn-primary" %>
      <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    <% end %>
  </td>
</tr>
