      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.species_name %></td>
        <td><%= animal.toy_count %></td>

<%
=begin
%>
        <td>
          <% if animal.image.attached? %>
            <%= image_tag animal.image %>
          <% end %>
        </td>
<%
=end
%>
          
        <% if write_animals? %>
        <td>
            <%= link_to 'Show', animal, class: "btn btn-primary" %>
            <%= link_to 'Edit', edit_animal_path(animal), class: "btn btn-primary" %>
            <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          </td>
        <% end %>
      </tr>
