<h1>Editing Animal</h1>

<%# See http://guides.rubyonrails.org/form_helpers.html %>
<%= form_with model: @animal do |f| %>
  <%= f.label :name %>: <%= f.text_field :name %>
  <br/>
  <%= f.label :species_id, "Species" %>: <%=
    f.collection_select(
      :species_id,
      @species,
      :id,
      :name
    )
  %>
  <br/>
  <%= f.submit "Save Changes", data: { disable: true, disable_with: "Saving..." } %>
<% end %>

<%= link_to 'Show', @animal %> |
<%= link_to 'Back', animals_path %>
