<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<%#
  use data-* method of firing a link on first page load
  to populate dashboard after page initially loads.
  Subsequent use of "add animal" form on this page
  will use Rails.ajax call directly to replace the contents of
  dashboard-totals div with latest counts
%>

<div id="dashboard-totals"><%=
  link_to ".",
  url_for( {controller: "animals", action: "totals"} ),
  method: :patch,
  remote: true,
  id: "dashboard-link"
%></div>
<%= javascript_tag '$("a#dashboard-link")[0].click();' %>
<hr/>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody id="animals">
    <%= render @animals %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path, class: "btn btn-primary" %>
<br/>
<a href="#" onclick="this.style.backgroundColor='#990000'; return false;">Paint it red</a>
<br/>
<a href="#" data-background-color="#990000">Paint it red</a>
<a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
<a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>

<hr/>

<%= form_with( model: @animal ) do |f| %>
  <%= f.label :name %>: <%= f.text_field :name %>
  <br/>
  <%= f.label :species_id, "Species" %>: <%=
    f.collection_select(
      :species_id,
      @species,
      :id,
      :name
    )
  %>
  <br/>
  <%= f.submit "Add Animal", data: { remote: true, disable: true, disable_with: "Adding..." } %>
<% end %>
