<p id="notice"><%= notice %></p>

<h1>Animals</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Species</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.name %></td>
        <td><%= animal.species_name %></td>
        <td>
          <%= link_to 'Show', animal, class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_animal_path(animal), class: "btn btn-primary" %>
          <%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path, class: "btn btn-primary" %>
